html {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}



a {}

header {
    margin: 150px auto;
    padding: 150px auto; 
    background-color: rgb(0, 153, 255);
    
}

nav {}

.button {}

#home {
   
}

#my-journey {
    
}

#contact {
    text-align: center; 

   
}

#timeline {}

.post {}

.post .content {}

.post .type {}

.post .type--education {}

.post .type--professionel {}

.post .year {}

.bryan-rasamizafy {
    width: 100px;
    height: 100px;
    border-radius: 10%;

}

.icon-facebook {
    width: 30px;
    height: 30px;
    float: left;

   
}

.icon-linkdin {
    width: 30px;
    height: 30px;

    
}

.icon-github {
    width: 30px;
    height: 30px;
    float: right;

   
}

