html {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}



a {}

header {}

nav {}

.button {}

#home {
   
}

#my-journey {
    
}

#contact {
   
}

#timeline {}

.post {}

.post .content {}

.post .type {}

.post .type--education {}

.post .type--professionel {}

.post .year {}

.bryan-rasamizafy {
    width: 100px;
    height: 100px;
}

.icon-facebook {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: auto;
    margin-right: auto;
   
}

.icon-linkdin {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.icon-github {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: auto;
    margin-right: auto;
   
}

